@charset "UTF-8";
/* 
@mixin check-box {

  display: none;
  width: 59px;
  max-height: 106px;
  border-radius: 0px 15px 15px 0px;
  position: relative;
  top: 1px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin check-icon {
  display: none;
  color: white;
} */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes stop-spin {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes stop-spin {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75px);
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75px);
  }
}
@-webkit-keyframes stop-slide-in {
  100% {
    transform: translateX(-75px);
  }
}
@keyframes stop-slide-in {
  100% {
    transform: translateX(-75px);
  }
}
@-webkit-keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* General */
:root {
  max-width: 767px;
}

/* Used to simplify the sizing process 
    of a couple of elements inside a box :

    Each element will be automatically resized
    to fit into the box (here, the box's total 
    size includes automatically every margin, 
    border, and padding of all of its elements).

    If those elements are too wide for 
    the size of the box, they will 
    squeeze up to each other
    (the size of the box itself will remain the same).

    The star (*) selects all the elements 
    (in this case, before AND after the css properties 
   are declared) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

h1 {
  margin: 0% 8%;
}

h3 {
  margin: 7px;
}

img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 243px;
  width: 100%;
}

#preloader {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%) no-repeat center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#preloader {
  -webkit-animation: stop-spin 1s ease 1s 1 alternate forwards;
          animation: stop-spin 1s ease 1s 1 alternate forwards;
}
#preloader h1 {
  position: fixed;
  color: #000000;
  font-family: "Shrikhand";
  font-weight: 900;
  font-size: 65px;
  font-style: italic;
  background-position: center;
  top: 50%;
  z-index: 2;
  letter-spacing: 6px;
}
#preloader p {
  font-size: 25px;
  font-weight: 600;
  color: black;
  font-style: italic;
  font-family: "Shrikhand";
  margin-top: 415px;
}

#loader {
  position: fixed;
  left: 50%;
  top: 56%;
  width: 160px;
  height: 160px;
  margin: -76px 0 0 -76px;
  border-top: 35px solid #89C8FA;
  border-right: 35px solid #89C8FA;
  border-bottom: 35px solid #99E2D0;
  border-left: 35px solid #99E2D0;
  border-radius: 50%;
  -webkit-animation: spin 1000ms ease-in-out 1ms 1 normal;
          animation: spin 1000ms ease-in-out 1ms 1 normal;
  z-index: -1;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 20px 0px 15px 0px;
}

.root {
  max-width: 767px;
}

header img {
  width: 30%;
}

#search-form {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #EAEAEA;
}

.location-search-bar {
  border-width: 0px;
  background-color: #EAEAEA;
  font-weight: 500;
  margin-left: 17px;
  color: #353535;
  outline: none;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 8%;
}
.welcome-section p {
  color: #353535;
  margin: 3% 5% 0%;
}

.pink-button {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 13px 16px;
  border-radius: 25px;
  margin: 27px 0px 45px 0px;
  margin-bottom: 45px;
  height: 50px;
  width: 206px;
  font-size: 16px;
  font-weight: 500;
}
.pink-button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.second-section {
  margin: 0px 33px;
}
.second-section h1 {
  margin: 48px 0px 26px 0px;
}

.user-guide-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 25px;
}

.navigation-button {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: solid;
  text-decoration: none;
  -webkit-text-decoration-color: #000000;
  text-decoration-color: #000000;
  border-radius: 20px;
  padding: 16px;
  padding-left: 0px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}
.navigation-button:hover {
  background-color: #F5EDFF;
}
.navigation-button:hover:hover i {
  color: #9356DC;
}
.navigation-button i {
  color: #353535;
}

.purple-circle {
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background-color: #9356DC;
  position: absolute;
  z-index: 1;
  left: 24px;
  border: none;
  color: #FFFFFF;
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.margins-for-navigation-buttons-icon {
  margin-right: 23px;
}

.all-restaurants {
  background-color: #F6F6F6;
  padding-top: 55px;
  margin-top: 68px;
}
.all-restaurants h1,
.all-restaurants h2,
.all-restaurants p {
  margin-left: 20px;
}
.all-restaurants p {
  margin-top: 0px;
}

.card-container {
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 35px;
}

.card {
  max-width: 90%;
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-left: 35px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.card i {
  display: flex;
  font-size: 25px;
  margin-left: 88%;
  margin-top: -29px;
}
.card i:active {
  -webkit-animation-name: first-animation;
          animation-name: first-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0, 1ms;
          animation-delay: 0, 1ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #89C8FA;
  font-weight: 900;
}
.card h2 {
  margin-bottom: 5px;
}
.card a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.label-new {
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: #008766;
  position: absolute;
  z-index: 1;
  margin: 20px 60px 0px 0px;
  left: 75%;
  display: flex;
  padding: 7px 10px;
}

.first-page-picture {
  border-radius: 15px 15px 0px 0px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 0px 35px 25px;
  color: #FFFFFF;
}
footer h1 {
  font-family: "Shrikhand";
  font-weight: 900;
  font-style: italic;
  margin: 22px 0px 16px 0px;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links ul {
  padding-left: 0px;
  margin: 0px;
}
.footer-links li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-icon {
  height: 13px;
  margin-right: 11px;
}

.menu-header {
  justify-content: space-between;
  padding: 4% 30% 2% 5%;
}
.menu-header img {
  width: 50%;
}

.image-menu {
  position: relative;
  z-index: -1;
  margin-bottom: -55px;
  max-height: 405px;
}

.menu-style {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding: 0% 4%;
}
.menu-style h1 {
  font-family: "Shrikhand";
  font-weight: 900;
  font-style: italic;
  line-height: 41px;
  letter-spacing: 0em;
  padding-top: 5%;
  margin-left: 0px;
}
.menu-style h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-left: 0px;
  margin: 42px 0px 12px;
}
.menu-style p {
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  margin-bottom: 0px;
  max-width: 44%;
}
.menu-style img {
  width: 100%;
}

.title-container {
  border-bottom: 3px solid #99E2D0;
  width: 7%;
}

.dish-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 3% 3% 0% 0%;
}

/* 
.one-dish {
    display: flex;
    margin: 3% 3% 0% 0%;
    width: 120%;

&:active {

    .price {
        position: relative;
        right: 20%;
    }

    .check-box1 {
        z-index: 1;
        box-shadow: 0px 4px 15px;
        background-color: #99E2D0;
        right: 15%;
    }

}
}
 */
.dish-card {
  width: 100%;
  border-radius: 15px 0px 0px 15px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
}
.dish-card h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 3%;
  margin-right: 0%;
  margin-bottom: 1%;
  margin-left: 0%;
}
.dish-card:active .price {
  -webkit-animation: slide-in 190ms linear normal forwards;
          animation: slide-in 190ms linear normal forwards;
}
.dish-card:active .check-box {
  -webkit-animation: visible 190ms linear normal forwards;
          animation: visible 190ms linear normal forwards;
}

.check-box {
  display: flex;
  background-color: #99E2D0;
  color: #FFFFFF;
  align-content: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  flex-wrap: wrap;
  position: relative;
  -webkit-animation: hidden 190ms linear normal forwards;
          animation: hidden 190ms linear normal forwards;
  height: 106px;
}

.check-icon {
  font-size: 28px;
  padding: 18px;
}

/* 
.check-box1 {
    display: flex;
    color: white;
    width: 20%;
    position: relative;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    right: 30%;
}


.check-icon1 {
    font-size: 28px;
    padding: 20px;
}

 */
.dish-description-box {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*    Première version
.price {
    font-weight: 900;
    font-size: 15px;
    margin-top: 0%;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-left: 90%;
    position: relative;
    z-index: 4;
}
 */
.price {
  font-weight: 900;
  font-size: 15px;
  margin-top: -11%;
  margin-left: 95%;
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.dish-order {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.order-button {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 13px 16px;
  border-radius: 25px;
  margin: 27px 0px 45px 0px;
  margin-bottom: 45px;
  height: 50px;
  width: 206px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=style.css.map */