@import "./abstract/variables";
@import "./abstract/typography";
@import "./abstract/colors";
@import "./abstract/mixin";

@import "./base/base";
@import "./base/reset";
@import "./base/keyframes";

@import "./utils/box-shadow";
@import "./utils/functions";

@import "./layout/images";
@import "./layout/loader";
@import "./layout/header";
@import "./layout/sections";
@import "./layout/containers";
@import "./layout/card";
@import "./layout/search-bar";
@import "./layout/form";
@import "./layout/footer";

@import "./components/button";
@import "./components/purple-circles";
@import "./components/arrow-back";
@import "./components/label-new";

@import "./pages/page-restaurant";



// Body


.flexible-heart-location {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    position: relative;
    z-index: 2;
}


.heart-button {
    display: flex;
    border: 0px;
    padding: 0px;
    height: 21px;
    width: 22px;
    background-color: initial;
    position: absolute;

    &:active {

        .filled-heart {
            @include first-animation;
            opacity: 1;
        }

        .second-heart {
            opacity: 0;
        }

    }
}


.heart-icon {
    position: absolute;
    width: 22px;
    height: 21px;
}


.filled-heart {
    opacity: 0;
}

// Pages Restaurant


.clickable:active {

    .price p {
        animation-name: slide;
        animation-duration: 190ms;
        animation-fill-mode: forwards;
    }

    .check-box {
        animation-name: detectable;
        animation-duration: 190ms;
        animation-fill-mode: forwards;
    }
}

.check-box {

    background-color: $tertiary-color;
    color: $white-color;
    align-content: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    flex-wrap: wrap;
    position: relative;
    animation: hidden 190ms linear normal forwards;

    max-height: 100%;


}


.check-icon {
    font-size: 28px;
    position: sticky;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    top: 50px;
}


.price {
    font-weight: 900;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}



/*  Media queries : Tablet and Desktop */
@media only screen and (min-width: $responsive-min-width) and (max-width: $responsive-max-width) {

  

}