@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes stop-spin {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes stop-spin {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes fill-in {
  from {
    color: #000000;
    font-weight: 400;
  }
  to {
    color: #FF79DA;
    font-weight: 900;
  }
}
@keyframes fill-in {
  from {
    color: #000000;
    font-weight: 400;
  }
  to {
    color: #FF79DA;
    font-weight: 900;
  }
}
footer {
  background-color: #353535;
  padding: 20px 0px 35px 25px;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

footer h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  font-style: italic;
}

/* General */
:root {
  max-width: 767px;
}

/* Used to simplify the sizing process 
  of a couple of elements inside a box :

  Each element will be automatically resized
  to fit into the box (here, the box's total 
  size includes automatically every margin, 
  border, and padding of all of its elements).

  If those elements are too wide for 
  the size of the box, they will 
  squeeze up to each other
  (the size of the box itself will remain the same).

  The star (*) selects all the elements 
  (in this case, before AND after the css properties 
  are declared) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

#preloader {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%) no-repeat center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#preloader {
  -webkit-animation: stop-spin 1s ease 1s 1 alternate forwards;
          animation: stop-spin 1s ease 1s 1 alternate forwards;
}
#preloader h1 {
  position: fixed;
  color: #000000;
  font-family: "Shrikhand";
  font-weight: 900;
  font-size: 65px;
  font-style: italic;
  background-position: center;
  top: 50%;
  z-index: 2;
  letter-spacing: 6px;
  margin: 0px;
}
#preloader p {
  font-size: 25px;
  font-weight: 600;
  color: black;
  font-style: italic;
  font-family: "Shrikhand";
  margin-top: 415px;
}

#loader {
  position: fixed;
  left: 50%;
  top: 56%;
  width: 160px;
  height: 160px;
  margin: -76px 0 0 -76px;
  border-top: 35px solid #89C8FA;
  border-right: 35px solid #89C8FA;
  border-bottom: 35px solid #99E2D0;
  border-left: 35px solid #99E2D0;
  border-radius: 50%;
  -webkit-animation: spin 1000ms ease-in-out 1ms 1 normal;
          animation: spin 1000ms ease-in-out 1ms 1 normal;
  z-index: -1;
}

.root {
  max-width: 767px;
}

h1,
h2,
p {
  margin-left: 20px;
}

.no-margin {
  margin: 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 20px 0px 15px 0px;
}

#search-form {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #EAEAEA;
}

.location-search-bar {
  border-width: 0px;
  background-color: #EAEAEA;
  font-weight: 500;
  margin-left: 17px;
  color: #353535;
  outline: none;
}

.vertical-and-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}

.the-darkest-dull-color {
  color: #353535;
}

.pink-button {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 13px 16px;
  border-radius: 25px;
  margin-bottom: 45px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
}
.pink-button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.second-section {
  margin: 0px 20px;
}

.user-guide-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 25px;
}

.purple-circle {
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background-color: #9356DC;
  margin: 0px;
  position: absolute;
  z-index: 1;
  left: 10px;
  border: none;
  color: #FFFFFF;
}

.margins-for-navigation-buttons-icon {
  margin-right: 23px;
}

.navigation-button {
  display: flex;
  justify-content: center;
  border: solid;
  text-decoration: none;
  -webkit-text-decoration-color: #000000;
  text-decoration-color: #000000;
  border-radius: 20px;
  padding: 16px;
  padding-left: 0px;
  background-color: #F6F6F6;
}
.navigation-button:hover {
  background-color: #F5EDFF;
}
.navigation-button:hover:hover i {
  color: #9356DC;
}
.navigation-button i {
  color: #353535;
}

.center {
  display: flex;
  justify-content: center;
}

.all-restaurants {
  background-color: #F6F6F6;
  padding-top: 45px;
  margin-top: 40px;
}

.card-container {
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  max-width: 90%;
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-left: 35px;
}
.card i {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  font-weight: 400;
  font-size: 38px;
  margin-top: -25px;
}
.card h2 {
  margin-bottom: 5px;
}
.card a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.animated-heart-icon:active {
  -webkit-animation: fill-in 2s ease 1ms 1 normal forwards;
          animation: fill-in 2s ease 1ms 1 normal forwards;
}

.label-new {
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: #008766;
  position: absolute;
  z-index: 1;
  margin: 20px 60px 0px 0px;
  right: 15px;
  display: flex;
  padding: 7px 10px;
}

img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 243px;
  border-radius: 15px;
}

footer {
  background-color: #353535;
  padding: 20px 0px 35px 25px;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

footer h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  font-style: italic;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-icon {
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

.dish-container {
  display: flex;
  flex-direction: column;
  background-color: #89C8FA;
}

.dish-card {
  background-color: chartreuse;
  margin: 12px 13px;
  border-radius: 15px;
}

.menu-style {
  background-color: #F6F6F6;
  margin: 0 13px;
}
.menu-style h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  margin: 32px 17px 42px;
}
.menu-style h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
}
.menu-style h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  margin-left: 11px;
}
.menu-style p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  margin-left: 11px;
}/*# sourceMappingURL=style.css.map */