body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin: 7px;
}

h4 {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin: 0px;
  grid-column-start: 1;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.center {
  display: flex;
  justify-content: center;
}

:root {
  min-width: 375px;
  max-width: 767px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  :root {
    max-width: 1400px;
  }
}

.root {
  min-width: 375px;
  max-width: 767px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .root {
    min-width: 768px;
    max-width: 1400px;
  }
}

/* Used to simplify the sizing process 
    of a couple of elements inside a box :

    Each element will be automatically resized
    to fit into the box (here, the box's total 
    size includes automatically every margin, 
    border, and padding of all of its elements).

    If those elements are too wide for 
    the size of the box, they will 
    squeeze up to each other
    (the size of the box itself will remain the same).

    The star (*) selects all the elements 
    (in this case, before AND after the css properties 
   are declared) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes stop-spin {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes stop-spin {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes heart-animation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart-animation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}
@-webkit-keyframes stop-slide {
  0% {
    transform: translateX(-20px);
  }
  99% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes stop-slide {
  0% {
    transform: translateX(-20px);
  }
  99% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@-webkit-keyframes detectable {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes detectable {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hidden {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 243px;
  width: 100%;
}

.first-page-picture {
  border-radius: 15px 15px 0px 0px;
}

.image-menu {
  width: 100%;
  position: relative;
  z-index: -1;
  margin-bottom: -55px;
  max-height: 405px;
}

#preloader {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%) no-repeat center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#preloader {
  -webkit-animation: stop-spin 500ms ease 1s 1 alternate forwards;
          animation: stop-spin 500ms ease 1s 1 alternate forwards;
}
#preloader h1 {
  position: fixed;
  color: #000000;
  font-family: "Shrikhand";
  font-weight: 900;
  font-size: 90px;
  font-style: italic;
  background-position: center;
  z-index: 9;
  letter-spacing: 6px;
}
#preloader p {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  font-style: italic;
  font-family: "Shrikhand";
  margin-top: 267px;
}

#loader {
  position: fixed;
  width: 300px;
  height: 300px;
  border-top: 35px solid #99E2D0;
  border-right: 35px solid #9356DC;
  border-bottom: 35px solid #99E2D0;
  border-left: 35px solid #9356DC;
  border-radius: 50%;
  -webkit-animation: spin 750ms ease-in-out 1 normal;
          animation: spin 750ms ease-in-out 1 normal;
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 20px 0px 10px 0px;
}

header__img {
  width: 162px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  header__img {
    width: 200px;
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 15px 40px 0px 40px;
}
.welcome-section__title-welcome-section {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 10px;
  margin-block: 25px;
}
.welcome-section p {
  color: #353535;
}

.second-section {
  margin: 0px 33px;
}
.second-section h1 {
  margin: 48px 0px 26px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .second-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.user-guide-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .user-guide-section {
    flex-direction: row;
    height: 56px;
    gap: 50px;
  }
}

.all-restaurants {
  background-color: #F6F6F6;
  padding-top: 55px;
  margin-top: 68px;
}
.all-restaurants h1,
.all-restaurants h2,
.all-restaurants p {
  margin-left: 20px;
}
.all-restaurants p {
  margin-top: 0px;
}

.card-container {
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 35px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    white-space: nowrap;
  }
}

.title-container {
  border-bottom: 3px solid #99E2D0;
  width: 7%;
}

.dish-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 10px;
}

.menu-style {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding: 0px 15px;
}

.menu-style__h1 {
  font-family: "Shrikhand";
  font-weight: 900;
  font-style: italic;
  line-height: 41px;
  letter-spacing: 0em;
  padding-top: 5%;
  margin-left: 0px;
}

.menu-style__h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-left: 0px;
  margin: 42px 0px 12px;
}

.dish-description-box {
  max-width: 185px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-style__p {
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 33px;
}

.menu-style__img {
  width: 100%;
}

.dish-order {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-left: 35px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .card {
    width: 335px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .card a {
    display: inline-block;
  }
}
.card__card-added-item {
  justify-content: flex-end;
  margin-right: 25px;
  position: relative;
  display: flex;
}

.card-text {
  flex-direction: column;
  padding-top: 12px;
  display: flex;
}
.card-text h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  margin-right: 0%;
  margin-left: 0px;
}
.card-text p {
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  max-width: 200px;
  padding-bottom: 20px;
  margin-block: 0%;
}

.dish-card {
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
}

.location-search-bar {
  border-width: 0px;
  background-color: #EAEAEA;
  font-weight: 500;
  margin-left: 17px;
  color: #353535;
  outline: none;
}

#search-form {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #EAEAEA;
}

.footer {
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 0px 35px 25px;
}
.footer-container h1 {
  font-family: "Shrikhand";
  font-weight: 900;
  font-style: italic;
  margin: 22px 0px 16px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links ul {
  padding-left: 0px;
  margin: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .footer-links ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer-links li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-icon {
  height: 13px;
  margin-right: 11px;
}

.btn {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn p {
  font-size: 16px;
  font-weight: 500;
}
.btn__pink-btn {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  margin: 20px 0px 45px 0px;
  height: 50px;
  width: 206px;
}
.btn__pink-btn p {
  color: #FFFFFF;
}
.btn__pink-btn:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.btn__nav-btn {
  padding-right: 30px;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  height: 60px;
  display: flex;
}
.btn__nav-btn:hover {
  background-color: #F5EDFF;
}
.btn__nav-btn p {
  margin: -7px;
}
.btn__nav-btn i {
  color: #353535;
  margin-right: 23px;
}
.btn__nav-btn i:hover {
  color: #9356DC;
}

.order-btn {
  width: 186px;
}

.purple-circle {
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background-color: #9356DC;
  position: absolute;
  z-index: 1;
  left: 24px;
  color: #FFFFFF;
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .purple-circle {
    position: relative;
    left: -25px;
  }
}

.label-new {
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: #008766;
  display: flex;
  padding: 7px 10px;
  position: absolute;
  width: 100px;
  margin-top: 20px;
}

.flexible-heart-location {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  position: relative;
}

.heart-btn {
  height: 18px;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
}
.heart-btn:focus {
  -webkit-animation: heart-animation 1700ms ease 0s 1 normal forwards;
          animation: heart-animation 1700ms ease 0s 1 normal forwards;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-image: -webkit-linear-gradient(linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.first-heart {
  position: absolute;
}

.second-heart {
  color: transparent;
}

.arrow {
  width: 17px;
  height: 16px;
}

.clickable:focus .price p {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 190ms;
          animation-duration: 190ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.clickable:focus .check-box {
  -webkit-animation-name: detectable;
          animation-name: detectable;
  -webkit-animation-duration: 190ms;
          animation-duration: 190ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.check-box {
  background-color: #99E2D0;
  color: #FFFFFF;
  align-content: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  flex-wrap: wrap;
  position: relative;
  -webkit-animation: hidden 190ms linear normal forwards;
          animation: hidden 190ms linear normal forwards;
  max-height: 100%;
}

.check-icon {
  font-size: 28px;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  top: 50px;
}

.price {
  font-weight: 900;
  font-size: 15px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=style.css.map */