.card {
    max-width: 90%;
    display: $primary-display;
    flex-direction: $secondary-direction;
    border-radius: $card-radius;
    background-color: $white-color;
    margin-left: 35px;
    box-shadow: $quinary-box-shadow;

    @include media-queries {
        width: 335px;
    }

    a {
        @include media-queries {
            display: inline-block;
        }
    }

    &__card-added-item {
        justify-content: flex-end;
        margin-right: $a-quarter;
        position: relative;
        display: flex;
    }
}


.card-text {
    flex-direction: column;
    padding: 12px 0px;
    display: flex;
    text-align: justify;

    h3 {
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0em;
        margin-right: 0%;
        margin-left: 0px;
        white-space: nowrap;
    }

    p {
        font-size: 15px;
        font-weight: 300;
        margin-left: 0px;
        max-width: 200px;
        padding-bottom: 20px;
        margin-block: 0%;
    }
}


// Pages restaurant

.dish-card {
    border: none;
    border-radius: $card-radius;
    background-color: $white-color;
    box-shadow: $quinary-box-shadow;
    padding-left: 12px;
    padding: 0px;
    padding-left: 12px;
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &:focus {

        .price {
            align-items: flex-end;

            p {
                padding-right: 0px;
                padding-top: 12px;
                animation: price-slide 500ms forwards;
            }
        }

        .dish-adding {
            display: flex;
            animation: green-animation 500ms forwards;

            height: 77px;
            width: 75px;
            background-color: $tertiary-color;
            justify-content: center;
            align-items: center;
            border-top-right-radius: $card-radius;
            border-bottom-right-radius: $card-radius;
            color: $white-color;
            font-size: 20px;
            position: relative;
        }
    }

    @include media-queries {

        &:focus {

            p,
            .dish-adding {
                animation-duration: 0s;
            }
        }

        &:hover {

            p {
                animation: price-slide 500ms forwards;
            }

            .price {

                .dish-adding {
                    display: flex;
                    animation: green-animation 500ms forwards;
                    height: 77px;
                    width: 75px;
                    background-color: $tertiary-color;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: $card-radius;
                    border-bottom-right-radius: $card-radius;
                    color: $white-color;
                    font-size: 20px;
                    position: relative;
                }
            }
        }

    }

    .dish-container .dish-card {
        animation: dish-slide 400ms ease-in-out both;
    }

    .dish-container-1 {

        .dish-card:nth-child(1) {
            animation-delay: 1ms;
        }

        .dish-card:nth-child(2) {
            animation-delay: 300ms;
        }

        .dish-card:nth-child(3) {
            animation-delay: 500ms;
        }
    }

    .dish-container-2 {

        .dish-card:nth-child(1) {
            animation-delay: 800ms;
        }

        .dish-card:nth-child(2) {
            animation-delay: 1000ms;
        }


        .dish-card:nth-child(3) {
            animation-delay: 1200ms;
        }
    }


    .dish-container-3 {

        .dish-card:nth-child(1) {
            animation-delay: 1500ms;
        }

        .dish-card:nth-child(2) {
            animation-delay: 1700ms;
        }


        .dish-card:nth-child(3) {
            animation-delay: 1900ms;
        }
    }

    .price {
        font-weight: 900;
        font-size: 15px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 0px;
        align-self: flex-end;
        align-items: flex-end;
        width: 200px;

        p {
            padding-right: $a-quarter;
        }
    }

    .dish-adding {
        display: none;
    }
}