.card-container {
    padding-bottom: 55px;
    display: $primary-display;
    flex-direction: $secondary-direction;
    gap: 30px;
    margin-top: 35px;

    @include media-queries {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: auto;
        white-space: nowrap;
    }
}


.title-container {
    border-bottom: 3px solid #99E2D0;
    width: 35px;
    margin-bottom: 13px;
}


.dish-container {
    display: flex;
    flex-direction: column;
    gap: 14px;


    @include media-queries {
    
    }
}
.menu-style {
    background-color: $the-lightest-dull-color;
    border-radius: 40px 40px 0px 0px;
    padding: 30px 17px;

    h1 {
        @include secondary-text-style;
        margin: 0px;
        line-height: 41px;
        letter-spacing: 0em;
    }

    h2 {
        font-size: $the-smallest-font-size;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-transform: uppercase;
        margin-left: 0px;
        margin: 42px 0px 12px;
    }



    @include media-queries {
        margin: 0px 15%;
        align-items: center;
        display: flex;
        flex-direction: column;

        section {
            width: 90%;
            margin: 0% 20%;
        }
    }
}

.dish-description-box {

    // Pour couper le texte et 
    // ajouter des points de suspension 
    // si le texte est trop long
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.dish-order {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}