// Footer

.footer {
    color: $white-color;
}


.footer-container {
    @include secondary-layout;
    background-color: $the-darkest-dull-color;
    padding: 20px 0px 35px 25px;

    h1 {
        @include secondary-text-style;
        margin: 22px 0px 16px 0px;
        font-size: 18px;
    }

    @include media-queries {
        flex-direction: row-reverse;
        padding-right: 70px;
    }
}


.footer-links {
    @include secondary-layout;

    ul {
        padding-left: 0px;
        margin: 0px;

        @include media-queries {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    li {
        @include tertiary-layout;
        align-items: baseline;
    }

}


.footer-icon {
    height: 13px;
    margin-right: 11px;
}