
footer {
    background-color: $the-darkest-dull-color;
    padding: 20px 0px 35px 25px;
    color: $white-color;
    font-size: $the-smallest-font-size;
    @include secondary-layout;
  }
  
  footer h1 {
    @include secondary-text-style;
  }