header {
    @include primary-layout;
    box-shadow: $tertiary-box-shadow;
    padding: 20px 0px 10px 0px;

    img {
        width: 162px;

        @include media-queries {
            width: 200px;
        }
    }
}

.menu-header {
  padding-left: 50px;
  justify-content: flex-start;
  gap: 35%;
}