
img {
    display: $secondary-display;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 243px;
    width: $full-size;
}


.first-page-picture {
    border-radius: 15px 15px 0px 0px;
    height: 243px;
}


.image-menu {
    width: $full-size;
    position: relative;
    z-index: -1;
    margin-bottom: -55px;
    max-height: 405px;
}
