#preloader {
    @include secondary-layout;
    background: $gradient-color no-repeat $primary-position;
    height: $full-size;
    width: $full-size;
    position: fixed;
    z-index: 9;
    align-items: $primary-position;
    justify-content: $primary-position;

    // Cette animation fait apparaître puis
    // disparaître le loader, mais ne l'anime pas
    animation: loading 500ms ease 1000ms forwards;

    h1 {
        position: fixed;
        color: $text-color;
        font-family: $secondary-font;
        font-weight: $the-largest-font-weight;
        font-size: 90px;
        font-style: $secondary-font-style;
        background-position: $primary-position;
        z-index: 9;
        letter-spacing: 3px;
    }

    p {
        font-size: $a-quarter;
        font-weight: 600;
        color: $text-color;
        font-style: $secondary-font-style;
        font-family: $secondary-font;
        margin-top: 214px;
    }
}


#loader {

    position: fixed;
    width: 251px;
    height: 251px;
    border-top: 35px solid $light-vivid-color;
    border-right: 35px solid $primary-color;
    border-bottom: 35px solid $light-vivid-color;
    border-left: 35px solid $primary-color;
    border-radius: $half-size;

    animation: spin 850ms;
    z-index: -1;
}