
.location-search-bar {
    border-width: 0px;
    background-color: $medium-light-dull-color;
    font-weight: $primary-font-weight;
    margin-left: 17px;
    color: $the-darkest-dull-color;
    outline: none;
}