.welcome-section {
    @include  secondary-layout;
    align-items: $primary-position;
    background-color: $the-lightest-dull-color;
    padding: 15px 40px 0px 40px;

    p {
        color: $the-darkest-dull-color;
    }

    h5.title {
        font-size: $big-font-size;
        font-weight: $the-largest-font-weight;
        color: $text-color;
    }
}


.second-section {
    margin: 0px 33px;
    padding-top: 40px;

    h1 {
        margin: 48px 0px 26px 0px;
    }

    @include media-queries {
        @include secondary-layout;
        flex-wrap: wrap;
        align-content: space-around;
    }

}


.user-guide-section {
    @include secondary-layout;
    justify-items: $primary-position;
    gap: $a-quarter;
    padding-top: 25px;

    @include media-queries {
        flex-direction: $primary-direction;
        height: 56px;
        gap: 50px;
    }
}


.all-restaurants {
    background-color: $the-lightest-dull-color;
    padding-left: 33px;
    padding-top: 55px;
    margin-top: 68px;


    h1,
    h2,
    p {
        margin-left: 20px;
    }

    p {
        margin-top: -13px;
        font-size: 17px;
    }
}