// Display 

@mixin primary-layout {
  display: $primary-display;
  justify-content: $primary-position;
}

@mixin secondary-layout {
  display: $primary-display;
  flex-direction: $secondary-direction;
}

@mixin tertiary-layout {
  display: $primary-display;
  flex-direction: $primary-direction;
}

// Text-style
@mixin secondary-text-style {
  font-family: $secondary-font;
  font-weight: $the-largest-font-weight;
  font-style: $secondary-font-style;
}

// Loader
@mixin loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 300px;
  height: 300px;
  margin: -76px 0 0 -76px;
  border: 20px solid #FF79DA;
  border-radius: 50%;
}

@mixin vertical-and-centered {
  display: $primary-display;
  flex-direction: $secondary-direction;
  align-items: $primary-position;
}


@mixin here {
  @include detectable;
}


@mixin media-queries {

  @media screen and (min-width: $responsive-min-width) and (max-width: $responsive-max-width) {
    @content;
  }
}