.navigation-button {
    @include navigation-button;
    margin-left: 12px;
    height: 60px;

    p {
        font-size: $the-smallest-font-size;
        font-weight: $primary-font-weight;
        margin: -7px;   
    }


    i {
        color: $the-darkest-dull-color;
        margin-right: 23px;
    }
}


.pink-button {
    @include pink-button;
}


.order-button {
    @include order-button;
}

    
