@mixin button {
    box-shadow: $primary-box-shadow;
}

@mixin pink-button {

    @include primary-layout;
    @include button;

    color: $white-color;
    background: $gradient-color;
    padding: 13px 16px;
    border-radius: 25px;
    margin: 27px 0px 45px 0px;
    margin-bottom: 45px;
    height: 50px;
    width: 206px;
    font-size: $the-smallest-font-size;
    font-weight: $primary-font-weight;

    &:hover {
        filter: brightness(115%);
        box-shadow: $secondary-box-shadow;
    }
}

@mixin navigation-button {

    @include primary-layout;
    @include button;

    border: solid;
    text-decoration: none;
    -webkit-text-decoration-color: $text-color;
    text-decoration-color: $text-color;
    border-radius: 20px;
    padding: 16px;
    padding-left: 0px;
    background-color: $the-lightest-dull-color;
    box-shadow: $quaternary-box-shadow;

    &:hover {
        background-color: $lighter-primary-color;

        &:hover i {
            color: $primary-color;
        }

    }
}

/* 
@mixin heart-button {  
   border: 1px solid #101010;

heart-icon:active {
    animation: fill-in 2s ease 1ms 1 normal forwards red;
}
}

 */

@mixin order-button {
    @include button;
    @include pink-button;
    @include vertical-and-centered;
}