

.navigation-button {
    @include navigation-button;
    margin-left: 12px;
    height: 60px;

    i {
        color: $the-darkest-dull-color;
    }

    p {
        font-size: $the-smallest-font-size;
        font-weight: $primary-font-weight;
        margin: -7px;
    }

}
