.flexible-heart-location {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    position: relative;
}


.heart-btn {
    height: 18px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;

    &:focus {
        animation: heart-animation 1700ms ease 0s 1 normal forwards;
        background-image: $gradient-color;
        background-image: -webkit-linear-gradient($gradient-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.first-heart, .second-heart {
    font-size: 20px;
}

.first-heart {
    position: absolute;
}

.second-heart {
    color: transparent;
}