.flexible-heart-location {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    position: relative;
}

.heart {
    height: 21px;
    width: 22px;
    position: absolute;
}

.filled-heart {
    opacity: 0;

    transition: all 2s ease-in-out;

    background-image: $text-color;
    background-image: -webkit-linear-gradient($text-color);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:active {
        opacity: 1;

        background-image: $gradient-color;
        background-image: -webkit-linear-gradient($gradient-color);
    }
}

.empty-heart {
    opacity: 1;
    color: $text-color;
    position: absolute;

    transition: all 2ms linear;

    &:active {
        opacity: 0;
    }
}