
.label-new {
    background-color: $light-vivid-color;
    box-shadow: $tertiary-box-shadow;
    color: $dark-vivid-color;
    display: flex;
    padding: 7px 10px;
    position: absolute;
    width: 100px;
    margin-top: 20px;
}
