// Eléments frequemment employés

body {
    font-family: $primary-font;
    margin: $margin;
}



h2 {
    margin-bottom: 5px;
}

h3 {
    margin: 7px;
}

h4 {
    font-weight: $the-smallest-font-weight;
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
    grid-column-start: 1;
}


a {
    text-decoration: none;
    font-size: $medium-font-size;
    font-weight: $tertiary-font-weight;
    color: $text-color;
}




.center {
    @include primary-layout;
}