// Eléments frequemment employés

body {
    font-family: $primary-font;
    margin: $margin;
}


h2 {
    margin-bottom: 5px;
    font-size: 23px;
}

h3 {
    margin: 7px;
}

h4, h5 {
    margin: 0px;
}

h4 {
    font-weight: $the-smallest-font-weight;
    font-size: 15px;
    line-height: 18px;
}

h5 {
    font-size: 24px;
    font-weight: $tertiary-font-weight;
}

a {
    text-decoration: none;
    font-size: $medium-font-size;
    font-weight: $tertiary-font-weight;
    color: $text-color;
}


p {
    font-weight: $primary-font-weight;
    font-size: $the-smallest-font-size;
}

.center {
    @include primary-layout;
}