
// Color

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradient-color: linear-gradient(#9356DC, #FF79DA) ;

$text-color: #000000;
$white-color:  #FFFFFF;

$dark-vivid-color:  #008766;
$light-vivid-color:  #99E2D0;

$the-lightest-dull-color: #F6F6F6;
$medium-light-dull-color:  #EAEAEA;
$medium-dark-dull-color: #7E7E7E;
$the-darkest-dull-color: #353535;