//display 

@mixin primary-layout {
    display: flex;
    justify-content: center;
}


@mixin primary-keyframe-original-style {
    font-weight: 400;
    color: red;
}

@mixin setting-primary-keyframe {
    font-weight: 900;
    transition-property: color;
    color: green;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    animation-fill-mode: forwards;
}


@mixin setting-secondary-keyframe {

    transition-property: color;
    color: $white-color;

    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    animation-fill-mode: forwards;

}